spring:
  application:
    name: itrum-task

  datasource:
    url: jdbc:postgresql://localhost:5433/wallet_db
    username: wallet_user
    password: wallet_pass
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 30

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  liquibase:
    enabled: false

server:
  port: 8081

logging:
  level:
    org.springframework.transaction: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.zaxxer.hikari: ERROR
  pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"